@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Patrick Hand', cursive;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  background-color: #e2ca7b;
}
